[local]
localhost ansible_connection=local

[bastion]
bastion_host ansible_host={{ bastion_host }} ansible_user={{ ansible_user }} ansible_ssh_private_key_file={{ ssh_key_path }}

[nginx]
nginx_server ansible_host={{ nginx_host }} ansible_user={{ ansible_user }} ansible_ssh_private_key_file={{ ssh_key_path }}

[front]
front_server ansible_host={{ front_host }} ansible_user={{ ansible_user }} ansible_ssh_private_key_file={{ ssh_key_path }}

[backend]
backend_server ansible_host={{ backend_host }} ansible_user={{ ansible_user }} ansible_ssh_private_key_file={{ ssh_key_path }}

[nginx:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -i {{ ssh_key_path }} -o StrictHostKeyChecking=no {{ ansible_user }}@{{ bastion_host }}"'

[front:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -i {{ ssh_key_path }} -o StrictHostKeyChecking=no {{ ansible_user }}@{{ bastion_host }}"'

[backend:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -i {{ ssh_key_path }} -o StrictHostKeyChecking=no {{ ansible_user }}@{{ bastion_host }}"'